@tailwind base;
@tailwind components;
@tailwind utilities;

.div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
}

.h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 0.75rem;
    font-weight: 700;
}
